@media(max-width:1920px){
    .menu-drawer {width: 318px;}
    .graph-status-section {width: 100%;}
    .call-history-section {width: 100%;}
    .chart-section { width: 100%;}
}
@media(max-width:1760px){
    .check-custom {font-size: 14px;padding-left: 23px;}
    .checkmark {height: 22px;width: 22px;}
    .check-custom .checkmark::after {left: 6px;top: 2px;}
}

@media(max-width:1440px){
    .menu-drawer {width: 16.5%;}
    .graph-status {width: 90px;}
    .round-txt {line-height: 84px;}
    .menu-drawer { padding: 10px;}
}
@media(max-width:1350px){
    .graph-status h5 {font-size: 14px;}
    .menu-drawer .nav > li > a {padding: 10px 10px;}
    .menu-drawer li {font-size: 18px;}
    .svg-icon {margin-right: 5px;}
    .status-bar-section {padding: 20px;}
    .graph-status {width: 76px;}
    .round-txt {line-height: 72px;}
    .table-section th:nth-child(2){width: 95px;}
    .check-custom {font-size: 13px;}
}
@media(max-width:1199px){
    .h4, h4 {font-size: 16px;}
    h5 {font-size: 14px;}
    .menu-drawer .nav > li > a {padding: 10px 0px;}
    .menu-drawer li {font-size: 16px;}
    .svg-icon img {width: 24px;}
    .graph-status {width: 62px;margin: 50px auto 0px;}
    .round-txt {line-height: 58px;}
    .font-36 {font-size: 30px;}
    .table-section th:nth-child(1){width: 34px;}
    .table-section th:nth-child(2){width: 95px;}
    .table-section th:nth-child(4){width: 30px;}
    .table-section th:last-child{width: 50px;}
    .chart-section {margin: 50px 0px 0px;}
    .call-history-section .col-md-3 {width: 50%;}
    .search-section .form-group { margin-left: 0%;}
    .user-name.btn-lg { padding: 0px;}
    .form-control.log-search { background-color: #619cff;}
    .mobile-search{display: block; margin: 6px 0px;}
    .search-input{display: none;position: absolute; top: 68px; z-index: 9; left: 0; right: 0;}
}
@media(max-width:991px){
    .sidebar {display: block;}
    .menu-drawer{display: none; z-index: 9; position: absolute; top: 0; padding-top: 60px; min-height: 920px;}
    .menu-drawer.open {display: block;}
    .menu-drawer { width: 220px;z-index: 9;}
    .call-history {margin: 10px 10px;}
    .graph-status-section .col-md-1 { width: 24%;}
    table {border: 0;}
    table thead {border: none;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
    table tr {border-bottom: 3px solid #ddd;display: block;margin-bottom: .625em;}
    table td {border-bottom: 1px solid #ddd;display: block;font-size: 14px;text-align: right;}
    table td::before {content: attr(data-label);float: left;font-weight: bold;text-transform: uppercase;}
    table td:last-child {border-bottom: 0;}
    .map-section {width: 100%;}
    .user-name {display: none;}
    ul.header-top {margin-top: 4px;}
    .dropdown-custom { right: 0; left: auto;}
    .graph-status {margin: 20px auto 0px;}
    .chart-section { margin: 30px 0px 0px;}
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px;}
}
@media(max-width:768px){
    .status-bar-section {min-height: 935px;}
    .btn-group-lg > .btn, .btn-lg {font-size: 14px;}
}
@media(max-width:754px){
    .mob-user-profile{display: block; padding-top: 5px;}
    .profile-view { display: none;}
    .search-section {float: right !important; margin-right: 20px;}
    .search-input {top: 114px;}
}
@media(max-width:567px){
    .header-top li:nth-child(1) { padding-bottom: 5px;}
    .header-top li:nth-child(2) { padding-bottom: 5px;}
    .header-link {padding: 5px 0px;}
    .user-name {display: none;}
    .status-bar-section {min-height: auto;display: inline-block;padding: 15px;}
    .customer-section {width: 50%;float: left;}
    .btn-group-lg > .btn, .btn-lg {font-size: 14px;}
    .daterangepicker .ranges li {font-size: 14px;}
    .btn.btn-drop{padding: 6px;}
    .btn.btn-group { padding: 3px 12px;}
    ul.header-top {text-align: center;}
    .graph-status {margin: 10px auto 0px;}
    .call-history-section {display: inline-block;}
    .pagination-section {text-align: center;}
    .search-input {top: 165px;}
    .chart-section {margin: 30px 0px 30px;}
    .font-36 {font-size: 24px;}
    /*    .mobile-search{display: none; margin: 6px 0px;}
        .search-input{display: block;position: relative; top: 0px; width: 200px;}*/    
    .open > .dropdown-menu { left: auto; right: 0;}
    /*    .top-bar-section {padding: 20px 0px 0px;}*/
}
@media(max-width:479px){

}
@media(max-width:360px){

}